.gallery_article {
    max-width: 100%;
    min-width: 100%;
}

.gallery_div {
    min-width: 100%;
    width: 100%;
    flex-wrap: wrap;
    float: left;
    max-width: 100%;
    display: flex;
    display: -ms-flexbox;
}

.gallery-item--1, .gallery-item--2, .gallery-item--3{
    padding: 5px 5px 5px 0;
    display: inline-flex;
    max-width: 100%;
}

.residence_gallery div {
    min-height: 9vw;
    display: inline-flex;
    position: relative;
}

.residence_gallery div div {
    flex: 1;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    align-self: center;
    min-width: 100%;
    min-height: 100%;
    background: rgba(255, 255, 255, 1);
}

.residence_gallery {
    min-width: 100%;
    width: 100%;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
}

.gallery_item {
    cursor: pointer;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}

.gallery_item img {
    max-width: 100%;
}

.gallery_item--0 {
    height: 20vw;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-column: 1 / 3;
    grid-row: 1 / 3;

}

.gallery_item--1 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
    grid-column: 3 / 5;
    grid-row: 1 / 3;

}

.gallery_item--2 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
    grid-column: 5 / 7;
    grid-row: 1 / 3;
}

.gallery_item--5 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-column: 1 / 2;
    grid-row-start: 3;
    grid-row-end: span 2;
    max-height: 120vw;
}

.gallery_item--5 img {
    max-height: 127vw;
}

.gallery_item:hover > div, .room_gallery img:hover > div{
    transition: 0.5s ease-in-out;
    opacity: 0.15;
}

.gallery_item:hover {
    transform: scale(1.01);
    transition: all 0.5s ease-in-out 0s;
}

.room_gallery_div {
    padding: 0 1vw 0 0;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    max-width: 46%;
    min-width: 46%;
    width: 46%;
    float: left;
    position: relative;
}

.room_gallery {
    min-width: 100%;
    flex: 1;
    position: relative;
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    max-width: 100%;
    height: auto;
}

.room_gallery div {
    min-height: 26vw;
}

.room_img--0 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-column: 1 / 6;
    grid-row: 1 / 4;
}

.room_img--1 {
    height: 62vw;
    -ms-grid-column: 1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-column: 1 / 2;
    grid-row: 4 / 6;
}

.room_img--2 {
    -ms-grid-column: 2;
    -ms-grid-row: 4;
}

.room_img--3 {
    -ms-grid-column: 3;
    -ms-grid-row: 4;
}

.room_img--4 {
    -ms-grid-column: 5;
    -ms-grid-row: 4;
}

.room_img--5 {
    -ms-grid-column: 2;
    -ms-grid-row: 5;
}

.room_img--6 {
    -ms-grid-column: 3;
    -ms-grid-row: 5;
}

.room_img--7 {
    height: 62vw;
    grid-column: 4 / 5;
    grid-row: 4 / 6;
    -ms-grid-column: 4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
}

.room_img--8 {
    -ms-grid-column: 5;
    -ms-grid-row: 5;
}

.room_second_img--0 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-column: 1 / 6;
    grid-row: 1 / 4;

}

.room_second_img--1 {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
}

.room_second_img--2 {
    -ms-grid-column: 2;
    -ms-grid-row: 4;
}

.room_second_img--3 {
    grid-column: 3 / 4;
    grid-row: 4 / 6;
    -ms-grid-column: 3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
}

.room_second_img--4 {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
    -ms-grid-column: 4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
}

.room_second_img--5 {
    grid-column: 5 / 6;
    grid-row: 4 / 6;
    -ms-grid-column: 5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
}

.room_second_img--6 {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
}

.room_second_img--7 {
    -ms-grid-column: 2;
    -ms-grid-row: 5;
}

.room_third_img--0 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-column: 1 / 6;
    grid-row: 1 / 4;
}

.room_third_img--1 {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
}

.room_third_img--2 {
    -ms-grid-column: 3;
    -ms-grid-row: 4;
}

.room_third_img--3 {
    grid-column: 2 / 3;
    grid-row: 4 / 6;
    -ms-grid-column: 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
}

.room_third_img--4 {
    -ms-grid-column: 5;
    -ms-grid-row: 4;
}

.room_third_img--5 {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
}

.room_third_img--6 {
    -ms-grid-column: 3;
    -ms-grid-row: 5;
}

.room_third_img--7 {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
    -ms-grid-column: 4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
}

.room_third_img--8 {
    -ms-grid-column: 5;
    -ms-grid-row: 5;
}

.show_more {
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.9em;
}

.current_img_number_text {
    z-index: 1111;
    position: absolute;
    opacity: 1;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.0em;
    bottom: 5px;
    right: 5px;
}

.img_window {
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;                                                             
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.img_window img {
    z-index: 1000;
    padding: 0 5px 0 5px;
    max-width: 70%;
    max-height: 70%;
}

.next_arrow {
    z-index: 1000;
    opacity: .6;
    width: 4vw;
    top: 0;
    left: 88%;
    position: absolute;
    cursor: pointer;
}

.previous_arrow {
    z-index: 1000;
    top: 0;
    left: 8%;
    position: absolute;
    opacity: .7;
    width: 4vw;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .next_arrow {
        width: 11vh;
        bottom: 3vh;
        left: 56%;
        position: fixed;
    }

    .previous_arrow {
        width: 11vh;
        bottom: 3vh;
        left: 26%;
        position: fixed;
    }
}

.next_arrow:hover, .previous_arrow:hover, .close_icon:hover {
    transition: ease-in-out .5s;
    opacity: 0.9;
}

@media screen and (min-width: 850px) and (max-width: 1200px) {
    .room_gallery div {
        min-height: 12.5vw;
    }

    .room_img--0 {
        height: 56vw;
    }

    .room_img--1 {
        height: auto;
    }

    .room_img--7 {
        height: auto;
    }
    .room_second_img--0 {
        height: 56vw;
    }

    .room_second_img--1 {
        height: auto;
    }

    .room_second_img--7 {
        height: auto;
    }
    .room_third_img--0 {
        height: 56vw;
    }

    .room_third_img--1 {
        height: auto;
    }

    .room_third_img--7 {
        height: auto;
    }
}

@media screen and (min-width: 1200px) {
    .room_gallery div {
        min-height: 5vw;
    }

    .room_img--0 {
        height: 25.3vw;
    }

    .room_img--1 {
        height: auto;
    }

    .room_img--7 {
        height: auto;
    }

    .room_second_img--0 {
        height: 25.3vw;
    }

    .room_second_img--1 {
        height: auto;
    }

    .room_second_img--7 {
        height: auto;
    }
    .room_third_img--0 {
        height: 25.3vw;
    }

    .room_third_img--1 {
        height: auto;
    }

    .room_third_img--7 {
        height: auto;
    }

    .gallery_item--6 {
        -ms-grid-column: 4;
        -ms-grid-row: 3;
    }

    .gallery_item--7 {
        -ms-grid-column: 5;
        -ms-grid-row: 3;
    }

    .gallery_item--8 {
        -ms-grid-column: 6;
        -ms-grid-row: 3;
    }

    .gallery_item--9 {
        -ms-grid-column: 2;
        -ms-grid-row: 4;
    }

    .gallery_item--3 {
        -ms-grid-column: 2;
        -ms-grid-row: 3;
    }

    .gallery_item--4 {
        -ms-grid-column: 3;
        -ms-grid-row: 3;
    }
}

@media screen and (max-width: 850px) {
    .residence_gallery {
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-columns: 1fr 1fr;
        -ms-grid-rows: auto;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .residence_gallery div {
        min-height: 27vw;
    }

    .gallery_item--0 {
        height: 60vw;
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .gallery_item--1 {
        -ms-grid-column: 1;
        -ms-grid-row: 4;
        -ms-grid-column-span: 1;
        grid-column: auto;
        grid-row: auto;
    }

    .gallery_item--2 {
        grid-column: auto;
        grid-row: auto;
        -ms-grid-column: 2;
        -ms-grid-row: 4;
    }

    .gallery_item--3 {
        -ms-grid-column: 1;
        -ms-grid-row: 5;
    }

    .gallery_item--4 {
        -ms-grid-column: 2;
        -ms-grid-row: 5;
    }

    .gallery_item--5 {
        -ms-grid-column: 2;
        -ms-grid-row: 6;
        -ms-grid-row-span: 2;
        grid-column: 2 / 3;
        grid-row: 5 / 7;
    }

    .gallery_item--6 {
        -ms-grid-column: 1;
        -ms-grid-row: 6;
    }

    .gallery_item--7 {
        -ms-grid-column: 1;
        -ms-grid-row: 7;
    }

    .gallery_item--8 {
        -ms-grid-column: 1;
        -ms-grid-row: 8;
    }

    .gallery_item--9 {
        -ms-grid-column: 2;
        -ms-grid-row: 8;
    }

    .room_gallery {
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-columns: 1fr 1fr;
        -ms-grid-rows: auto;
    }

    .room_gallery div {
        min-height: 28vw;
    }

    .room_img--0 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        -ms-grid-row: 1;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        height: 56vw;
    }

    .room_img--1 {
        -ms-grid-column: 1;
        -ms-grid-row: 6;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .room_img--2 {
        -ms-grid-column: 1;
        -ms-grid-row: 4;
    }

    .room_img--3 {
        -ms-grid-column: 2;
        -ms-grid-row: 4;
    }

    .room_img--4 {
        -ms-grid-column: 1;
        -ms-grid-row: 5;
    }

    .room_img--5 {
        -ms-grid-column: 2;
        -ms-grid-row: 5;
    }

    .room_img--6 {
        -ms-grid-column: 1;
        -ms-grid-row: 8;
    }

    .room_img--7 {
        -ms-grid-column: 2;
        -ms-grid-row: 6;
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    .room_img--8 {
        -ms-grid-column: 2;
        -ms-grid-row: 8;
    }

    .room_second_img--0 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        height: 56vw;
    }

    .room_second_img--1 {
        -ms-grid-column: 1;
        -ms-grid-row: 4;
    }

    .room_second_img--2 {
        -ms-grid-column: 2;
        -ms-grid-row: 4;
    }

    .room_second_img--3 {
        -ms-grid-column: 1;
        -ms-grid-row: 7;
    }

    .room_second_img--4 {
        -ms-grid-column: 2;
        -ms-grid-row: 7;
    }

    .room_second_img--5 {
        -ms-grid-column: 1;
        -ms-grid-row: 5;
        -ms-grid-row-span: 2;
        grid-column: 1 / 2;
        grid-row: 3 / 6;
    }

    .room_second_img--6 {
        -ms-grid-column: 1;
        -ms-grid-row: 8;
    }

    .room_second_img--7 {
        -ms-grid-column: 2;
        -ms-grid-row: 8;
    }

    .room_second_img--8 {
        -ms-grid-column: 2;
        -ms-grid-row: 5;
        -ms-grid-row-span: 2;
        grid-column: 2 / 3;
        grid-row: 3 / 6;
    }

    .room_third_img--0 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        height: 56vw;
    }

    .room_third_img--1 {
        -ms-grid-column: 1;
        -ms-grid-row: 4;
    }

    .room_third_img--2 {
        -ms-grid-column: 2;
        -ms-grid-row: 4;
    }

    .room_third_img--3 {
        -ms-grid-column: 1;
        -ms-grid-row: 6;
        -ms-grid-row-span: 2;
        grid-column: 1 / 2;
        grid-row: 4 / 6;
    }

    .room_third_img--4 {
        -ms-grid-column: 1;
        -ms-grid-row: 5;
    }

    .room_third_img--5 {
        -ms-grid-column: 2;
        -ms-grid-row: 5;
    }

    .room_third_img--6 {
        -ms-grid-column: 1;
        -ms-grid-row: 8;
    }

    .room_third_img--7 {
        grid-column: 2 / 3;
        grid-row: 4 / 6;
        -ms-grid-column: 2;
        -ms-grid-row: 6;
        -ms-grid-row-span: 2;
    }

    .room_third_img--8 {
        -ms-grid-column: 2;
        -ms-grid-row: 8;
    }
}

@media screen and (max-width: 500px) {
    .residence_gallery {
        display: contents;
    }

    .residence_gallery div {
        padding: 0 0 5px 0 ;
    }

    .room_gallery {
        display: contents;
    }

    .room_img--0 {
        height: 60vw;
    }

    .room_img--1 {
        height: 130vw;
    }

    .room_img--7 {
        height: 130vw;
    }
}

/* Only for Safari 10.1 and up */
@media not all and (min-resolution:.001dpcm) {
    @media {
        .residence_gallery div {
            display: block;
        }
        @media screen and (min-width: 1200px) {
            .gallery_item--0 {
                height: 18.39vw;
            }
        }

        .residence_gallery div {
            min-height: 10.62vw;
        }
    }
}

/* Only for IE10 and up */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .residence_gallery div {
        padding: 10px;
        display: block;
    }

    .align_text {
        max-width: 100vw;
    }

    .interesting_places_section {
        width: 80vw;
    }

    .interesting_text_title {
        width: 80vw;
    }


    .residence_gallery div {
        min-height: 10.62vw;
        width: 0;
    }

    .room_gallery div {
        padding: 5px;
    }
}

@media all  and (min-width: 1200px) and (-ms-high-contrast: none), (-ms-high-contrast: active) and (min-width: 1200px) {
    .gallery_item--0 {
        height: 18.39vw;
    }
}

@media screen and (max-width: 500px) and (-ms-high-contrast: none), (-ms-high-contrast: active) and (max-width: 500px)  {
    .residence_gallery, .room_gallery {
        display: inline;
    }
}

@media screen and (max-width: 850px) and (-ms-high-contrast: none), (-ms-high-contrast: active) and (max-width: 850px)  {
    .residence_gallery {
        width: 84vw;
    }
}
